<% include common/header.ejs %>

<div class="container">
    <div class="section group category-products row">
        <div class="col-md-4 filtering">
            <div class="category_header">
                <div class="line"></div>
                <div class="name">Filters</div>
                <span class="filters glyphicon glyphicon-filter" aria-hidden="true"></span>
            </div>
            <ul class="according-filters">
                <li class="topic">
                    <div class="dropdown">
                        <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="true">
                            Topic
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a id="dietsf">Diets</a></li>
                            <li><a id="cocktailsf">Cocktails</a></li>
                        </ul>
                    </div>
                </li>
                <li class="time">
                    <div class="dropdown">
                        <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="true">
                            Type
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a id="recipesf">Recipes</a></li>
                            <li><a id="articlesf">Articles</a></li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>


        <div class="sorting col-md-8">
            <div class="category_header">
                <div class="line"></div>
                <div class="name">Sort</div>
                <span class="filters glyphicon glyphicon-sort" aria-hidden="true"></span>
            </div>

            <div class="sorting-options">
                <div class="dropdown">
                    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        Sort by
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                        <li><a id="Least1">Most recent</a></li>
                        <li><a id="Most1">Least recent</a></li>
                    </ul>
                </div>
            </div>

            <div id="articles-list">

            </div>

        </div>

    </div>
</div>

<% include common/footer.ejs %>