<% include common/header.ejs %>


<div class="headerSearch">
    <div class="fixed_width">
        <div class="inner_foodSearch">
            <h1 class="titleSearch">
                <div class="heading_title">
                    Food Search
                </div>
                <div class="heading_subtitle">
                    Calorie, carbohydrate and nutritional food database.
                </div>
            </h1>
            <div class="search_input">
                <div class="row search">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class = "ui-widget">
        <div class="input-group col-md-12">
            <span class="input-group-btn">
                <button id="searchJewButton" class="btn btn-danger" type="button">
                    <span class=" glyphicon glyphicon-search"></span>
                </button>
            </span>
            <input id="automplete" type="text" class="earch-query form-control" placeholder="Search product..." />
        </div>
    </div>
</div>






<% include common/footer.ejs %>