

<% include common/header.ejs %>


<div class="my_container" >
    <p style="font-size:2em; font-family: 'Barlow Semi Condensed', sans-serif; padding-left:50px; padding-top:100px;">Click on the map to set your current position to see your nearby gyms</p>
    <div id="googleMap" style="height:540px; width:100%; margin-top:10px;"></div>
</div>



<% include common/footer.ejs %>
