

<% include common/header.ejs %>


<div class="my_container" >
    <h1 class="page-header" style=" margin-top:100px; padding-top:0; padding-bottom:0;">Nearby gyms</h1>
    <p style="font-size:2em; font-family: 'Barlow Semi Condensed', sans-serif; padding-left:50px;">Click on the map to set your current position</p>
    <div id="googleMap" style="height:580px; width:100%; margin-top:10px;"></div>
</div>



<% include common/footer.ejs %>
