

<% include common/header.ejs %>

<div class="containerForLandingPage">
    <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="2000">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            <div class="item active">
                <img src="./assets/images/slider1.jpg" style="width:100%;" alt="Welcom" >
            </div>

            <div class="item">
                <img src="./assets/images/slider2.jpg" style="width:100%; " alt="Clock auction">
            </div>

            <div class="item">
                <img src="./assets/images/slider33.jpg" style="width:100%;" alt="Horse auction">
            </div>
        </div>

        <!-- Left and right controls -->
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
            <span class="sr-only">Next</span>
        </a>

    </div>

    <h1 class="page-header">Explore</h1>
    <div class="center">
        <div class="gallery">

            <div class="first col-4" >
                <div class="overlay">
                    <a class="inner_page" >
                        <div class="title">Calculate your calories to always stay in shape</div>
                    </a>
                </div>
            </div>

            <div class="second col-4">
                <div class="overlay">
                    <a class="inner_page">
                        <div class="title">Read our blog with tons of recipes and fun articles </div>
                    </a>
                </div>
            </div>

            <div class="third col-4" >
                <div class="overlay">
                    <a class="inner_page" >
                        <div class="title">Find closest gyms to work out</div>
                    </a>
                </div>
            </div>

        </div>
    </div>

    <div id="aboutUs">
        <h1>About us</h1>
    </div>
    <div class="container-grid" style="width:50%;  margin:auto;" >
        <div class="info">
            <h1>Recently called "one of the fastest growing e-commerce sites in the art world" by Blouin ArtInfo,
                our auction is the world's leading online marketplace for fine art, antiques and collectibles.
            </h1>
            <p>
                Auction houses, galleries and dealers use our website to deepen relationships with millions of clients around the world,
                connecting people with the things they love.
            </p>
        </div>
    </div>

</div>


<% include common/footer.ejs %>

