

<% include common/header.ejs %>

<div class="containerForLandingPage">
    <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="2000">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            <div class="item active">
                <img src="./assets/images/slider1.jpg" style="width:100%;" alt="Welcom" >
            </div>

            <div class="item">
                <img src="./assets/images/slider2.jpg" style="width:100%; " alt="Clock auction">
            </div>

            <div class="item">
                <img src="./assets/images/slider33.jpg" style="width:100%;" alt="Horse auction">
            </div>
        </div>

        <!-- Left and right controls -->
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
            <span class="sr-only">Next</span>
        </a>

    </div>

    <h1 class="page-header">Explore</h1>
    <div class="center">
        <div class="gallery">

            <div class="first col-4" >
                <div class="overlay">
                    <a class="inner_page" >
                        <div class="title">Calculate your calories to always stay in shape</div>
                    </a>
                </div>
            </div>

            <div class="second col-4">
                <div class="overlay">
                    <a class="inner_page">
                        <div class="title">Read our blog with tons of recipes and fun articles </div>
                    </a>
                </div>
            </div>

            <div class="third col-4" >
                <div class="overlay">
                    <a class="inner_page" >
                        <div class="title">Find closest gyms to work out</div>
                    </a>
                </div>
            </div>

        </div>
    </div>

    <div id="aboutUs">
        <h1>About us</h1>
    </div>
    <div class="container-grid" style="width:50%;  margin:auto;" >
        <div class="info">
            <h1>
                HealZy is a phenomenal website that offers credible information to help you make healthful eating choices.
                Nutritional information is crucial for understanding diets especially if you afflicted with lifestyle diseases like diabetes, hypertension, obesity etc. Nutritional guides help us to choose healthy foods.
            </h1>
            <p>
                It is also extremely difficult to count calories accurately. Although 67% of Americans report taking calories into account when making food purchases, nearly nine out of 10 have no idea how many they actually need, a survey conducted by the International Food Information Council Foundation reports. We tend to miscount what we eat, as well. Although the U.S. food supply produces 3,900 calories for each person per day, men claim to eat an average of 2,618 daily calories,
                while women report eating only 1,877.  In fact, there's a lot working against us when it comes to staying slim and healthy. Big meals and large portions (think holiday feasts and most restaurant dinners) tend to undermine our calorie-counting efforts, studies show. And being overweight makes it even more likely that we'll underestimate the calories in our meal --a definite disadvantage when it comes to losing weight.
                Our website will help you to count your daily meals accurately with the help of our great calculator and a Telegram bot.
            </p>
        </div>
    </div>

</div>


<% include common/footer.ejs %>

