
<footer>
    <details>
        <summary>&#169;Nguyen&Manzhura, 2017 </summary>
        <p>This site is created by sophomores of 'Kyiv-Mohyla Academy' Anne Manzhura and San Nguyen.</p>
    </details>
</footer>



<!-- jQuery JavaScript -->
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"> </script>
<!--Bootsrap JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<!--Google Maps -->
<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyCbDbIUUoQr3MiwcYDilHvahqQ2lBEz7Dc&libraries=places"></script>
<!--Own JavaScript -->
<script type="text/javascript"  src="assets/js/main.js"></script>
</body>
</html>