<div class="content">
    <div class="article-short">
        <img src="<%= article.image %>">
        <div class="scrolling">
            <h3><%= article.title %></h3>
            <p><%= article.content.substring(0, 175) + "..." %></p>
            <a href="#">Читати далi >> </a>
        </div>
    </div>
</div>